*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgba(0, 0, 0, 0.884);
}
:root{
    --color-text-primary: rgb(255, 233, 233);
    --color-text-secondary-orange: rgb(238, 124, 82);
    --bg-formAcad-Curso: rgba(59, 56, 56, 0.548);
    --bgAboutMe: rgb(39, 38, 38);
}
.container{
    display: flex;
    flex-direction: column;
    padding: 6.5% 5%;
}
.bg{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    background-size: cover;
    z-index: 100;
    position: fixed;
}
.bg-n{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 150;
}
.nav{
    position: absolute;
    width: 100%;
    height: 55px;
    background-color: rgb(22, 21, 21);
    position: fixed;
    z-index: 550;
}
nav{
    width: 100%;
    height: 55px;
    font-size: 20px;
    color: #fff;
    z-index: 551;
    position: fixed;
    display: flex;
    align-content: center;
}
    .namePage{
        color: #fff;
        width: 36%;
        font-size: 25px;
        padding-left: 30px;
    }
    nav ul{
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items:center ;
        padding-left: 200px;
    }
        nav ul li{
            display: flex;
            justify-content: center;
        }
        nav ul li a{
            display: block;
            color: #fff;
            font-size: 18px;
            text-decoration: none;
            transition: all 0.4s;
            padding-top: 3px;
            padding-left: 30px;
        }
        nav > ul > li a:hover{
            transform: scale(1.15);
        }
.aboutMe1{
    display: flex;
    flex-direction: column;
    background-color: var(--bgAboutMe);
    display: flex;
    align-items: center;
    height: 600px;
    z-index: 200;
    background-color: var(--bgAboutMe);
    margin-bottom: 50px;
    padding-bottom: 1%;
}
    .about_descr{
        color: var(--color-text-primary);
        padding: 1% 10%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        text-align: center;
    }
    .about_img{
        height: 60%;
        width: 100%;
        background-color: var(--bgAboutMe);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.747);
        /*background: url(../imagenes/jelle-van-leest-OLTJsGcuqXk-unsplash.jpg);*/
        background-size: cover;
    } 
        .about_img img{
            height: 280px;
            width: 280px;
            border-radius: 50%;
            transform: translateY(30%);
        }
    .about-hobbies{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(27, 27, 27);
    }
        .hobbie{
            display: flex;
            width: 150px;
            height: 50%;
            margin: 1%;
            background-color: var(--bg-formAcad-Curso);
            color: var(--color-text-primary);
            border-radius: 7%;
            justify-content: center;
            align-items: center;
        }
            .hobbie img{
                height: 80%;
            }
            .hobbie label{
                width: 70%;
                text-align: center;
            }
h1{
    margin: 10px;
    color: var(--color-text-primary);
  }
h2{
    margin: 10px;
    color: var(--color-text-primary);
}
    
/*ABOUT ME 2*/
.aboutMe2{
    display: flex;
    flex-direction: column;
    background-color: var(--bgAboutMe);
    margin-bottom: 50px;
    height: 500px;
    padding: 5%;
    z-index: 200;
}
.formacionAcad{
    display: flex;
    height: 100px;
    width: 99%;
    padding: 0 2%;
    margin: 0.5%;
    background-color: var(--bg-formAcad-Curso);
    color: var(--color-text-primary);
}
    .formacionAcad img{
        height: 100%;
        padding: .8%;
    }
    .unprg-name{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3%;
        
    }

.cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-text-primary);
}   
    .curso{
        width: 49%;
        padding: 1% 2%;
        background-color: var(--bg-formAcad-Curso);
        margin: 0.5%;
        display: flex;
    }
    .curso-name{
        width: 100%;
        display: flex;
        flex-direction: column;        
        justify-content: center;
        padding-left:5% ;
    }
