*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: rgb(218, 213, 212);
    /*background-color: rgba(228, 218, 218, 0.884);*/
}
:root{
    /*--color-text-primary: rgb(255, 233, 233);*/
    --color-text-secondary-orange: rgb(219, 78, 27);
    /*--bg-formAcad-Curso: rgba(59, 56, 56, 0.548);*/
    /*--bgAboutMe: rgb(39, 38, 38);*/
    --bgAboutMe: rgb(238, 232, 232);
    --color-text-primary: rgb(15, 15, 15);
    --color-text-secondary-white: #fff;
    --bg-formAcad-Curso: rgba(228, 220, 220, 0.726);
}
.container{
    display: flex;
    flex-direction: column;
    padding: 6.5% 5%;
}
.bg{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    background-size: cover;
    z-index: 100;
    position: fixed;
}
.bg-n{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.377);
    z-index: 150;
}
.nav{
    position: absolute;
    width: 100%;
    height: 55px;
    background-color: rgb(22, 21, 21);
    position: fixed;
    z-index: 550;
}
nav{
    width: 100%;
    height: 55px;
    font-size: 20px;
    color: #fff;
    z-index: 551;
    position: fixed;
    display: flex;
    align-content: center;
}
    .namePage{
        color: #fff;
        width: 36%;
        font-size: 25px;
        padding-left: 30px;
    }
    
    nav ul{
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items:center ;
        padding-left: 200px;
    }
        nav ul li{
            display: flex;
            justify-content: center;
        }
        nav ul li a{
            display: block;
            color: #fff;
            font-size: 18px;
            text-decoration: none;
            transition: all 0.4s;
            padding-top: 3px;
            padding-left: 30px;
        }
        nav > ul > li a:hover{
            transform: scale(1.15);
        }
.aboutMe1{
    display: flex;
    flex-direction: column;
    background-color: var(--bgAboutMe);
    /*background-color: rgb(201, 178, 171);*/
    display: flex;
    align-items: center;
    height: 600px;
    z-index: 200;
    padding-bottom: 1%;
    margin-bottom: 20px;
    transition: all 0.4s;
}
    .about_descr{
        color: var(--color-text-primary);
        padding-top: 4%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 0.4s;
    }
    .about_img{
        height: 60%;
        width: 100%;
        background-color: var(--bgAboutMe);
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
        url(../imagenes/jelle-van-leest-OLTJsGcuqXk-unsplash.jpg);
        background-size: cover;
        transition: all 0.4s;
    } 
        .about_img img{
            height: 280px;
            width: 280px;
            border-radius: 50%;
            transform: translateY(30%);
        }
    .about-hobbies{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-formAcad-Curso);
        transition: all 0.4s;
        padding: 7px;
    }
        .hobbie{
            display: flex;
            width: 235px;
            height: 37px;
            margin: 1%;
            background-color: rgb(230, 96, 55);
            color: var(--color-text-secondary-white);
            border-radius: 16px;
            justify-content: center;
            align-items: center;
            transition: all 0.4s;
        }
            .hobbie img{
                height: 80%;
            }
            .hobbie label{
                width: 70%;
                text-align: center;
            }
h1{
    margin: 10px;
    color: var(--color-text-primary);
  }
h2{
    margin: 10px;
    color: var(--color-text-primary);
}
    
/*ABOUT ME 2*/
.aboutMe2{
    display: flex;
    flex-direction: column;
    background-color: var(--bgAboutMe);
    /*background-color: rgb(201, 178, 171);*/
    margin-bottom: 50px;
    padding: 3.5% 5%;
    z-index: 200;
    transition: all 0.4s;
}
.desc{
    display: flex;
    width: 99%;
    padding: 2%;
    margin: 0.5%;
    background-color: var(--bg-formAcad-Curso);
    color: var(--color-text-primary);
}
.formacionAcad{
    display: flex;
    height: 100px;
    width: 99%;
    padding: 0 2%;
    margin: 0.5%;
    background-color: var(--bg-formAcad-Curso);
    color: var(--color-text-primary);
}
    .formacionAcad .p_desc{
        display: flex;
        align-items: center;
    }
    .formacionAcad img{
        height: 100%;
        padding: .8%;        
    }
    .cont-unprg-name{
        display: flex;
        width: 100%;
    }
    .unprg-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
    }

.cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-text-primary);
}   
    .curso{
        width: 49%;
        height: 80px;
        padding: 1% 2%;
        background-color: var(--bg-formAcad-Curso);
        margin: 0.5%;
        display: flex;
    }
    .curso-name{
        width: 100%;
        display: flex;
        flex-direction: column;        
        justify-content: center;
        padding-left:5% ;
    }
    
    @media screen and (max-width: 700px){
    
        .container{
            padding: 12% 0;
        }
        .nav{
            height: 40px;
        }
        .aboutMe1{
            height: 470px;
        }
        .about_descr{
            justify-content: end;
            padding-bottom: 18px;
        }
        .about_img img{
            height: 180px;
            width: 180px;
            border-radius: 50%;
            transform: translateY(32%);
        }
        .about_img{
            height: 35%;
        }
        h1{
            font-size: 25px;
        }
        h2{
            font-size: 15px;
        }
        h3{
            font-size: 12px;
        }
        h4{
            font-size: 12px;
        }
        p{
            font-size: 12px;
        }
        .curso{
            width: 100%;
            height: 60px;
        }
        .curso img{
            transform: scale(0.6);
        }
        .namePage{
            width: 100%;
            font-size: 20px;
        }
        nav ul{
            display: none;
        }
        .cont-unprg-name{
            flex-direction: column;
            justify-content: center;
        }
        .unprg-name{
            margin-left: 0;
        }
    }